<ion-slides class="Scovers">
  <ion-slide class="ion-padding-vertical covers">
      <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
  <ion-slide class="ion-padding-vertical covers">
    <ion-img src="assets/imgs/conejito.gif" class="cover"></ion-img>
  </ion-slide>
</ion-slides>